@import '../../../styling/media';
@import '../../../styling/colors';
@import '../../../styling/typography';

#overlay-saved-locations-list{
    list-style: none;
    

    li{
        position: relative;
        padding: 1rem 2rem;
        margin: 0 -1rem;
        
        &:nth-child(odd){
            background: rgba($black, .25);
        }
        
        &:nth-child(even){
            background: rgba($black, .15);
        }

        .material-icons{
            position: absolute;
            top: .5rem;
            right: 1rem;
            padding: 1rem;
            z-index: 999;
            @extend .ts-medium;
        }
    }
}