@import '../../../styling/colors';

.daily-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "day icon temp";
    margin: .675rem 0;

    .daily-day{
        grid-area: day;
        justify-self: start;
    }
    
    .daily-icon{
        grid-area: icon;
        justify-self: center;
    }
    
    .daily-temp{
        grid-area: temp;
        justify-self: self-end;
        
        .max-temp{
            margin-right: 1rem;
        }

        .min-temp{
            color: rgba($white, .75);
        }
    }
}