@import '../../styling/colors';

$sizeW: 30px;

#burger-menu{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: $sizeW;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 99;

    div {
        width: $sizeW;
        height: 4px;
        background: $white;
        transition: all 0.2s linear;
        position: relative;
        transform-origin: $sizeW/10;

        &:first-child {
            transform: rotate(0);
        }

        &:nth-child(2) {
            opacity: 1;
            transform: translateX(0);
        }

        &:nth-child(3) {
            transform: rotate(0);
        }
    }

    &.open{

        div{

            &:first-child {
               transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity:0;
                transform: translateX(20px);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}