@import '../../styling/colors';

$sizeW: 40px;

#top-left-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 99;

    #burger-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: $sizeW;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        div {
            width: $sizeW;
            height: 5px;
            background: $white;
            transition: all 0.2s linear;
            position: relative;
            transform-origin: $sizeW/8;

            &:first-child {
                transform: rotate(0);
            }

            &:nth-child(2) {
                opacity: 1;
                transform: translateX(0);
            }

            &:nth-child(3) {
                transform: rotate(0);
            }
        }

        &.open{

            div{

                &:first-child {
                transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity:0;
                    transform: translateX(20px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    #layout-save-icon{
        cursor: pointer;
        margin-top: .5rem;
        font-size: 1.25rem;
        text-align: center;
        z-index: 1;

        &.hide{
            display: none;
        }
    }
}