@import '../../styling/colors';

#weather-container{
    text-align: center;
    display: grid;
    grid-template-areas: "top" "mid";

    #weather-container-top{
        grid-area: top;
    }
    
    #weather-container-mid{
        grid-area: mid;
        display: grid;
        grid-template-areas: "mid-title" "mid-temp" "mid-temp-feels-like";
        
        h1#icon-title{
            grid-area: mid-title;
        }

        #temp{
            grid-area: mid-temp;
            
            display: flex;
            justify-content: center;

            h2#temp-main{
                font-size: 20vw;
                margin-right: 1rem;
            }
            
            #temp-hi-lo{
                align-self: center;

                #temp-hi{
                    border-bottom: 1px solid rgba($white, .5);
                    padding-bottom: .375rem;
                }
                
                #temp-lo{
                    padding-top: .375rem;
                }
            }
        }

        #temp-feels-like{
            grid-area: mid-temp-feels-like;

            i{
                margin-right: .375rem;
            }
        }
    }
}

#weather-sunrise-sunset{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    i{
        margin-right: .375rem;
    }

    div:first-child{
        margin-right: 1rem;
    }
}

#weather-container-extras{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.375rem;
    margin-top: 1.375rem;
}

// #hourly-line-chart{
//     margin-top: 3rem;
// }

#weather-container-hourly{
    position: relative;
    height: calc(95px + 1rem);
    display: block;

    #horizontal-scroll-wrapper{
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-button{
            display: none;
            width: 0px;
            height: 0px;
        }

        position: absolute;
        display: block;
        top: 1rem;
        left: 50%;
        height: 100vw;
        width: 120px;
        overflow-x: hidden;
        overflow-y: auto;
        transform: rotate(-90deg) translate(-45px, calc(-50vw - 120px));
        transform-origin: right top;
    }
}