@import '../../../styling/colors';

#location-search{
    display: flex;
    justify-content: center;
    flex-direction: column;

    input{
        font-size: 2rem;
        border: none;
        background: none;
        padding: 0 .375rem;
        margin-bottom: 1rem;
        color: $white;
        text-align: center;
        border-bottom: 1px solid rgba($white, .25);
    }

    button{
        cursor: pointer;
        border: 3px solid darken($success, 12);
        background: $success;
        color: $white;
        border-radius: .375rem;
        font-size: 1rem;
        padding: .375rem .675rem;
        transition: .35s all;

        &:hover{
            background: rgba($success, .9);
        }
    }

}