@import '../../styling/media';
@import '../../styling/colors';
@import '../../styling/typography';

#location-overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: $dark;
    background: linear-gradient($dark, rgba($dark, .85));
    transform: scale(2);
    z-index: 98;
   
    &.open{
        display: block;
        animation: zoomIn .25s ease-in forwards;
        
        @keyframes zoomIn {
            to{
                transform: scale(1);
            }
        }
    }

    #overlay-options{
        position: absolute;
        display: flex;
        top: .75rem;
        right: 0;

        .material-icons{
            font-size: 1.5rem;
            margin-right: 1rem;
            color: rgba($white, .5);
            transition: .25s all;
            
            &:hover,
            &.active{
                color: $white;
            }
        }
    }

    .container{
        padding-top: 3rem;
        height: 100vh;
        overflow-y: scroll;
        
        .overlay-list{
            list-style: none;    

            li{
                position: relative;
                padding: 1rem 2rem;
                margin: 0 -1rem;
                
                &:nth-child(odd){
                    background: rgba($black, .25);
                }
                
                &:nth-child(even){
                    background: rgba($black, .15);
                }

                .material-icons{
                    position: absolute;
                    top: .5rem;
                    right: 1rem;
                    padding: 1rem;
                    z-index: 999;
                    @extend .ts-medium;
                }
            }
        }
    }
}