@import '../../styling/colors';

#location-overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: $dark;
    background: linear-gradient($dark, rgba($dark, .85));
    transform: scale(2);
    z-index: 98;
   
    &.open{
        display: flex;
        align-items: center;
        animation: zoomIn .25s ease-in forwards;
        
        @keyframes zoomIn {
            to{
                transform: scale(1);
            }
        }
    }
}