button{
    cursor: pointer;
    color: $white;
    background: none;
    border-radius: .375rem;
    border: 1px solid $white;
    padding: .375rem .675rem;
    transition: .35s all;

    &:hover{
        background: $light;
        color: lighten($dark, 30);

    }

    &.active{
        background: $white;
        color: $dark;
    }
}