/* Default */
$white: #ffffff;
$black: #000000;

/* Weather conditions */
$day-clear-top: #52a4da;
$day-clear-bottom: #73bae1;

$day-fog-top: #bc8db8;
$day-fog-bottom: #5d5e90;

$day-cloudy-top: #5393b2;
$day-cloudy-bottom: #a7bdca;

$night-clear-top: #112159;
$night-clear-bottom: #9762a2;

$night-fog-top: #bc8db8;
$night-fog-bottom: #5d5e90;

$night-cloudy-top: #5393b2;
$night-cloudy-bottom: #a7bdca;

